/* COLOURS */
/* MIXINS */
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
:root {
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: rgb(27, 27, 27);
  box-sizing: inherit;
  cursor: url("../img/icons8-edit-100.png"), auto;
}

img, a {
  cursor: url("../img/icons8-edit-100.png"), auto;
}

@media only screen and (max-width: 54.0625rem) {
  :root {
    font-size: 14px;
  }
}
@media only screen and (max-width: 42rem) {
  :root {
    font-size: 12px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #e5e5f7;
  background-image: linear-gradient(rgba(64, 64, 64, 0.44) 1.3px, transparent 1.3px), linear-gradient(to right, rgba(64, 64, 64, 0.15) 1.3px, #e5e5f7 1.3px);
  background-size: 26px 26px;
  font-family: "Neucha", cursive;
  padding: 0 1.5rem;
}

/* NAVBAR */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 95vw;
  top: 0;
  z-index: 999;
}
nav .nav_logo {
  width: 150px;
  padding: 1rem 0 1rem 0;
}
nav .nav_socialmedia a img {
  width: 50px;
  padding: 0.1rem;
  margin: 0 1rem 0 auto;
  transition: all 0.5s ease-in-out;
}
nav .nav_socialmedia a img:hover {
  transform: scale(1.35);
}

@media only screen and (max-width: 45rem) {
  nav {
    justify-content: center;
    gap: 2rem;
  }
}
/* MAIN CONTENT */
main {
  --bs-gutter-x: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  margin-top: 10rem;
}
main .box-1 {
  margin: auto 0;
  padding-left: 1rem;
}
main .box-1 h1 {
  letter-spacing: 4px;
  font-size: 2.75rem;
  font-weight: bold;
}
main .box-1 h1 span {
  position: relative;
}
main .box-1 h1 span.highlight-yellow:before {
  content: "";
  background-color: #f1ee1c;
  width: 100%;
  height: 1.2em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.3em;
  top: 0.05em;
  padding: 0 0.25em;
}
main .box-1 p {
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 1.5;
  width: 45ch;
  font-weight: bold;
  font-size: 1.2rem;
}
main .box-1 p span {
  position: relative;
}
main .box-1 p span.highlight-yellow:before {
  content: "";
  background-color: #f1ee1c;
  width: 100%;
  height: 1.2em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.3em;
  top: 0.05em;
  padding: 0 0.25em;
}
main .box-1 p span.highlight-greenh:before {
  content: "";
  background-color: #0bff24;
  width: 100%;
  height: 1.2em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.3em;
  top: 0.05em;
  padding: 0 0.25em;
}
main .box-1 p span.highlight-blueh:before {
  content: "";
  background-color: #19b2ff;
  width: 100%;
  height: 1.2em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.3em;
  top: 0.05em;
  padding: 0 0.25em;
}
main img {
  width: 20rem;
}

@media only screen and (max-width: 35rem) {
  main {
    --bs-gutter-x: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 10rem;
  }
  main .box-1 {
    margin: auto 0;
  }
  main .box-1 h1 {
    letter-spacing: 4px;
    font-size: 4rem;
    font-weight: bold;
  }
  main .box-1 h1 span {
    position: relative;
  }
  main .box-1 h1 span.highlight-yellow:before {
    content: "";
    background-color: #f1ee1c;
    width: 100%;
    height: 1.2em;
    position: absolute;
    z-index: -1;
    filter: url(#marker-shape);
    left: -0.3em;
    top: 0.05em;
    padding: 0 0.25em;
  }
  main .box-1 p {
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 1.5;
    width: 45ch;
    font-weight: bold;
    font-size: 1.3rem;
  }
  main .box-1 p span {
    position: relative;
  }
  main .box-1 p span.highlight-yellow:before {
    content: "";
    background-color: #f1ee1c;
    width: 100%;
    height: 1.2em;
    position: absolute;
    z-index: -1;
    filter: url(#marker-shape);
    left: -0.3em;
    top: 0.05em;
    padding: 0 0.25em;
  }
  main .box-1 p span.highlight-greenh:before {
    content: "";
    background-color: #0bff24;
    width: 100%;
    height: 1.2em;
    position: absolute;
    z-index: -1;
    filter: url(#marker-shape);
    left: -0.3em;
    top: 0.05em;
    padding: 0 0.25em;
  }
  main .box-1 p span.highlight-blueh:before {
    content: "";
    background-color: #19b2ff;
    width: 100%;
    height: 1.2em;
    position: absolute;
    z-index: -1;
    filter: url(#marker-shape);
    left: -0.3em;
    top: 0.05em;
    padding: 0 0.25em;
  }
  main img {
    width: 30rem;
  }
}
.product {
  text-align: center;
}
.product h2 {
  font-size: 2.5rem;
}
.product section label img {
  width: 5rem;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}
.product section label img:hover {
  transform: scale(1.35);
}
.product .cards-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product .cards-row .card img {
  transition: all 0.5s ease-in-out;
}
.product .cards-row .card img:hover {
  transform: scale(1.25);
}

.info {
  margin-top: 5rem;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
  border-color: #41403e;
  border-style: solid;
  border-width: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.info article {
  padding: 0 1rem;
}
.info article h2 {
  font-size: 2rem;
}
.info article p {
  font-size: 1.25rem;
  font-weight: bold;
}
.info article p a {
  text-decoration: none;
  color: rgb(27, 27, 27);
  padding-left: 1rem;
}
.info article p span {
  position: relative;
}
.info article p span.highlight-pinkh:before {
  content: "";
  background-color: #f547f5;
  width: 100%;
  height: 1.2em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.3em;
  top: 0.05em;
  padding: 0 0.25em;
}
.info article p span.highlight-blueh:before {
  content: "";
  background-color: #19b2ff;
  width: 100%;
  height: 1.2em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.3em;
  top: 0.05em;
  padding: 0 0.25em;
}
.info article span.highlight-greenh:before {
  content: "";
  background-color: #0bff24;
  width: 100%;
  height: 1.2em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.3em;
  top: 0.05em;
  padding: 0 0.25em;
}
.info iframe {
  margin: 1rem;
}

.shop {
  padding: 5rem 0;
  text-align: center;
}/*# sourceMappingURL=index.css.map */